@import 'src/sass/variables.scss';


.label-input {
  font-size: 12px;
  font-weight: 500;
  line-height: 9px;
  letter-spacing: 0;
  text-align: left;
  color: $colorSubText;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.input-input {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid $mainColorDecoration;
  &:focus {
    outline: none;
  }
}
