@import 'src/sass/style.scss';


.refs {
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0;
  color: $mainColorDecoration;
  text-decoration: none;
}