$mainColorDecoration: #3369F3;
$colorSubText: #999999;
$messengerDecorationColor: #EAEAEA;
$titleColor: #1E1E1E;
$hoverChatColor: #E4EDFD;
$imageTimeColorDecoration: #52525280;
$buttonExitColor: #FF0000;
