@import 'src/sass/variables.scss';


.data-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
  border-bottom: 2px solid $messengerDecorationColor;
  &__change{
    font-weight: 700;
    margin-bottom: 10px;
    text-decoration: none;
    color: $mainColorDecoration;
  }
  &__exit{
    font-weight: 700;
    margin-bottom: 10px;
    text-decoration: none;
    color: $buttonExitColor;
  }
}
