<div class="container-change-password__back">
    <a href="#" page="profile" class="container-change-password__back__button"></a>
</div>
<form action="#" class="container-change-password">
    <div class="container-change-password__main">
        <div class="change-password__header">
            <label for="avatar" class="change-password__header__avatar-label">
                <input id="avatar" name="avatar" class="change-password__header__avatar" type="file">
            </label>
        </div>
        <div class="change-password__data-fields">
            {{> DataField change="true" name="oldPassword" key="Старый пароль" value="********" type="password"}}
            {{> DataField change="true" name="newPassword" key="Новый пароль" value="****************" type="password"}}
            {{> DataField change="true" name="newPassword-again" key="Повторите новый пароль" value="****************" type="password"}}
        </div>
        <div class="change-password__actions">
           {{> Button classname="action" type="submit" page="profile" label="Сохранить"}}
        </div>
    </div>
</form>