<div class="chat-image">
    <div class="chat-image__block chat-image__{{type-person}}">
        <img class="chat-image__block_img" src="{{src}}" alt="фотография">
        <div class="chat-image__block_time">
            {{time}}
        </div>
    </div>
</div>
