<div class="change-profile">
    <div class="change-data-field">
        <div class="data-field__key">
            {{key}}
        </div>
        <div class="data-field__value">
            {{value}}
        </div>
    </div>
</div>