{{# if src }}
    <div class="container-avatar">
        <img class="container-avatar__avatar" src="{{src}}" alt="Аватар">
    </div>
{{else}}
    <div class="container-avatar">
        <img class="container-avatar__avatar" src="{{imageAvatar}}" alt="Аватар">
    </div>
{{/if}}
